<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to Text Analyzer</h1>
<h2>Enter your Text below: </h2>

<form action='/analyzer' method='get'>
    <textarea name='text' style='margin: 0px; width: 401px; height: 218px;'></textarea><br>
    <input type="checkbox" name="removepunction">Remove Punctuation</input>
    <input type="checkbox" name="countcar">Count Char</input>
    <input type="checkbox" name="capitali">Capitalization</input>
    <button type="submit">Please Confirm</button>
</form>
</body>
</html>